/*global*/
:root {
    --primary-color: #1b1b1b;
    --secondary-color: #ffffff;
    --gray-color: #f7f7f7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 0.9rem;
    color: var(--primary-color);
    overflow-x: hidden;
    letter-spacing: 0.5px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style: none;
}

button,
input {
    font: inherit;
    background: none;
    border: none;
}

img {
    width: 100%;
    height: 100%;
}

/*navbar*/
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    box-shadow: -1px 20px 20px -10px #e1e1e11c;
}

.navbar li:hover {
    animation-name: scaleUp;
    animation-duration: 0.1s;
}

/*hero*/
.hero img, .hero .images div {
    border-radius: 1.5rem;
}

.hero .heading img:nth-child(1) {
    width: 3rem;
    height: 3rem;
}

.hero .heading img:nth-child(3) {
    width: 6rem;
    height: 3rem;
}

.hero .images.d-grid {
    grid-template-columns: 5fr 1fr;
    gap: 2.5rem;
}

.hero .images div:nth-child(1) {
    grid-row: 1 / span 2;
}

.hero .images .d-flex {
    gap: 0;
}

.hero .images .d-grid {
    gap: 0.1rem;
}

/*stats*/
.stats div {
    width: 24%;
}

/*products*/
.products .filtering.d-flex {
    justify-content: center;
}

.products .products.d-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.products .products div {
    border-radius: 1rem;
}

.products .products img {
    width: 14rem;
    height: 14rem;
}

.products .products .products-item .btn {
    margin-left: 3rem;
    width: 4.5rem;
}

.products .products .d-grid {
    grid-template-columns: repeat(2, 1fr);
}

.products-item:hover {
    animation-name: scaleUp;
    animation-duration: 0.1s;
}

/*about*/
.about.d-flex {
    gap: 4rem;
}

.about .image img {
    width: 90%;
    height: 60%;
    border-radius: 1rem;
}

/*products-slider*/
.swiper-pagination-bullet-active {
    background-color: var(--primary-color) !important;
}

/*contact*/
.contact .contact {
    border-radius: 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../asset/contact.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 30rem;
}

.contact .contact h3 {
    width: 75%;
}

/*newsletter*/
.newsletter .d-flex {
    justify-content: center;
}

.newsletter input[type="text"] {
    width: 30%;
}

/*footer*/
.footer {
    margin-bottom: 0;
}

.footer li:hover {
    animation-name: scaleUp;
    animation-duration: 0.1s;
}

/*RD*/
@media (max-width:768px) {

    /*flex*/
    .d-flex {
        flex-wrap: wrap;
    }

    /*navbar*/

    /*
    .links {
        display: none;
    }
    .bar-icon {
        display: block;
    }
    #bar-icon {
        visibility: hidden;
    }
    .bar-icon:checked~.links {
        width: 100%;
        padding: 2rem;
        position: absolute;
        top: 100%;
        left: 0;
        box-shadow: -1px 20px 20px -10px #e1e1e11c;
    }
    */

    .navbar .links {
        width: 100%;
        padding: 2rem;
        position: absolute;
        top: 100%;
        left: 0;
        box-shadow: -1px 20px 20px -10px #e1e1e11c;
    }

    /*hero*/
    .hero .heading img:nth-child(1) {
        width: 1.5rem;
        height: 1.5rem;
    }

    .hero .heading img:nth-child(3) {
        width: 3rem;
        height: 1.5rem;
    }

    .hero .images.d-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero .images div:nth-child(1) {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .hero .images .d-flex {
        flex-wrap: nowrap;
    }

    /*stats*/
    .stats.d-flex {
        justify-content: center;
    }

    .stats div {
        width: 100%;
    }

    /*products*/
    .products .products.d-grid {
        grid-template-columns: 1fr;
    }

    /*contact*/
    .contact .contact h3 {
        width: 100%;
    }

    /*newsletter*/
    .newsletter input[type="text"] {
        width: 100%;
    }

    .newsletter .d-flex {
        flex-direction: column;
        gap: 0.5rem;
    }

    /*footer*/
    .footer .d-flex {
        flex-direction: column;
        justify-content: center;
    }

    .footer .links, .footer .other-links {
        text-align: center;
    }
}

@media (max-width:474px) {

    /*contact*/
    .contact .contact {
        padding: 2rem;
        text-align: center;
    }

    .contact .contact h3 {
        padding: 0.75rem 0;
    }
}